name: Publish ESLint Plugin CSS Modules

on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2

      - run: bun install

      - run: bun test
        working-directory: ./packages/eslint-plugin-css-modules

      - run: bun run build
        working-directory: ./packages/eslint-plugin-css-modules

      - run: bun publish --access public
        working-directory: ./packages/eslint-plugin-css-modules
        env:
          NPM_CONFIG_TOKEN: ${{ secrets.NPM_TOKEN }}
